<!DOCTYPE html>

<html>
    <head>
        <meta charset = "UTF-8">
        <title>Hobbifyer</title>
        <link href="css/landing_page_style.css" type="text/css" rel="stylesheet"/>
    </head>

    <div class = "home-page">

        <img alt="" src="/media/console.svg" class = "console-img" id = "float1"></img>
        <img alt="" src="/media/burger.svg" class = "burger-img" id = "float2"></img>
        <img alt="" src="/media/basketball.svg" class = "basketball-img" id = "float3"></img>
        <img alt="" src="/media/popcorn.svg" class = "popcorn-img" id = "float4"></img>
        <h1 class = "header-home" >hobbyfier</h1>
        <p class = "text">diversify your hobbies with personalized recommendations based on your calendar.</p>
        <div class = "button-container">
            <form action="/login"></form>
            <a href = "/login">
                <button class = "button-comp" type = "submit">
                    <div class = "button-interior"><p class = "button-text">get started</p></div>
                </button>
            </a>
            </form?>
    </div>

</html>

