<!DOCTYPE html>

<html>
    <head>
        <meta charset = "UTF-8">
        <title>Hobbifyer</title>
        <link href="css/recommendation_page_styles.css" type="text/css" rel="stylesheet"/>
    </head>

    <div class ="recommendation-page">
        <div class="left-side">
            <div class = "calendar-info">
                <h2 class = "day-of-week">sunday</h2>
                <h3 class = "day">october 29th, 2023</h3>
            </div>
        <div class = "event-card1">
            <h2 class = "event-title">synchronized swimming</h2>
            <div>
                <h3 class = "header">details:</h3><p class = "description-text">synchronized swimming is a fun way to practice swimming with your friends.</p>
            </div>
            <div>
                <h3 class = "header">weather:</h3>
                <p class = "description-text">you can expect clear skies with a light breeze, which is perfect for outdoor swimming.</p>
            </div>
            <div>
                <h3 class = "header">time:</h3>
                <p class = "description-text"> based on your availability and weather conditions, 3:00 PM is a good time for this activity.</p>
            </div>
        </div>
    </div>

        <div class = "recommendations">
            <div class = "recommendations-title"><h1 class = "recommendations-title-text">recommendations</h1></div>

            <div class = "recommendations-card">
                <div class = "top">
                <div class = "event-card">
                    <div class = "event-card-text">
                        <h3 class = "event-name">bowling</h3>
                        <h4 class = "time">3 - 4pm</h4>
                        <p class = "description">for some friendly competition</p>
                        <button class = "view-button">view</button>
                    </div>
                </div>

                <div class = "event-card">
                    <div class = "event-card-text">
                        <h3 class = "event-name">yoga</h3>
                        <h4 class = "time">3 - 4pm</h4>
                        <p class = "description">namaste</p>
                        <button class = "view-button">view</button>
                    </div>
                </div>
            </div>
            <div class = "bottom">
                <div class = "event-card">
                    <div class = "event-card-text">
                        <h3 class = "event-name">take a walk</h3>
<h4 class = "time">1 - 2pm</h4>
                        <p class = "description">go get your steps in</p>
                        <button class = "view-button">view</button>
                    </div>
                </div>

                <div class = "event-card">
                    <div class = "event-card-text">
                        <h3 class = "event-name">hike</h3>
                        <h4 class = "time">6 - 8pm</h4>
                        <p class = "description">let's get moving!</p>
                        <button class = "view-button">view</button>
                </div>
            </div>
            </div>
        </div>
        <button class = "regenerate-button">regenerate</button>
    </div>

</html>

