<!DOCTYPE html>

<html>
    <head>
        <meta charset = "UTF-8">
        <title>Hobbifyer</title>
        <link href="css/recommendation_page_styles.css" type="text/css" rel="stylesheet"/>
    </head>

    <div class ="recommendation-page">
        <div class="left-side">
            <div class = "calendar-info">
                <h2 class = "day-of-week">weekly availability</h2>
                <ul class="collection">
                    {% for item in events_formatted %}
                    <li class="collection-item">
                      <p>{{ item.start_time }}<strong> - {{ item.summary }}</strong></p>
                    </li>
                    {% endfor %}
                  </ul>
            </div>
        <div class = "event-card1">
            <h2 class = "event-title" id="spotlight-title">title</h2>
            <div>
                <h3 class = "header">description:</h3><p class = "description-text" id="spotlight-description">description</p>
            </div>
            <div>
                <h3 class = "header">more details:</h3>
                <p class = "description-text" id="spotlight-extended">click on one of the cards to view more!</p>
            </div>
        </div>
    </div>

        <div class = "recommendations">
            <div class = "recommendations-title"><h1 class = "recommendations-title-text">recommendations</h1></div>

            <div class = "recommendations-card">
                <div class = "top">
                <div class = "event-card">
                    <button onclick="view0()" class = "event-card-text">
                        <h3 class = "event-name">{{ suggestions.activities[0].title }}</h3>
                        <h4 class = "time">{{ suggestions.activities[0].start_time }} - {{ suggestions.activities[0].end_time }}</h4>
                    </button>
                </div>

                <div class = "event-card">
                    <button onclick="view1()" class = "event-card-text">
                        <h3 class = "event-name">{{ suggestions.activities[1].title }}</h3>
                        <h4 class = "time">{{ suggestions.activities[1].start_time }} - {{ suggestions.activities[1].end_time }}</h4>
                    </button>
                </div>
            </div>
            <div class = "bottom">
                <div class = "event-card">
                        <!-- <p class = "description">{{ suggestions.activities[2].description }}</p> -->
                        <button onclick="view2()" class = "event-card-text">
                            <h3 class = "event-name">{{ suggestions.activities[2].title }}</h3>
                            <h4 class = "time">{{ suggestions.activities[2].start_time }} - {{ suggestions.activities[2].end_time }}</h4>
                        </button>
                </div>

                <div class = "event-card">
                    <button onclick="view3()" class = "event-card-text">
                        <h3 class = "event-name">{{ suggestions.activities[3].title }}</h3>
                        <h4 class = "time">{{ suggestions.activities[3].start_time }} - {{ suggestions.activities[3].end_time }}</h4>
                    </button>
            </div>
            </div>
        </div>
    </div>

    <script>
        function view0(){
            document.getElementById("spotlight-title").innerHTML = "{{ suggestions.activities[0].title }}";
            document.getElementById("spotlight-description").innerHTML = "{{ suggestions.activities[0].description }}";
            document.getElementById("spotlight-extended").innerHTML = "{{ suggestions.activities[0].extended_description }}";
        }
        function view1(){
            document.getElementById("spotlight-title").innerHTML = "{{ suggestions.activities[1].title }}";
            document.getElementById("spotlight-description").innerHTML = "{{ suggestions.activities[1].description }}";
            document.getElementById("spotlight-extended").innerHTML = "{{ suggestions.activities[1].extended_description }}";
        }
        function view2(){
            document.getElementById("spotlight-title").innerHTML = "{{ suggestions.activities[2].title }}";
            document.getElementById("spotlight-description").innerHTML = "{{ suggestions.activities[2].description }}";
            document.getElementById("spotlight-extended").innerHTML = "{{ suggestions.activities[2].extended_description }}";
        }
        function view3(){
            document.getElementById("spotlight-title").innerHTML = "{{ suggestions.activities[3].title }}";
            document.getElementById("spotlight-description").innerHTML = "{{ suggestions.activities[3].description }}";
            document.getElementById("spotlight-extended").innerHTML = "{{ suggestions.activities[3].extended_description }}";
        }

        // document.getElementById("current-date").innerHTML = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]((new Date()).getDay()) + ", " +  ["January", "February", "March", "April", "May", "June", "July", "August", "October", "November", "December"]((new Date()).getMonth()) + " " + (new Date()).getDate()

        </script>

</html>

