.recommendation-page {
    background-color: #F6E7CB;
    display: flex;
    border-top: solid;
    height: 100%;
}

.event-card {
    background-color: #A6C48A;
    border-radius: 20px;
    padding-left: 5%;
    width: 20%;
    margin-right: 10%;
    margin-left: 5%;
}


.recommendations {
    width: 40%;
    background-color: blueviolet;
}

.recommendations-card {
    display: flex;
    overflow: wrap;
    justify-content: center;
}

.recommendations-title {
    font-family: 'Cherry';
    font-size: 2em;
    text-align: center;

}